{% extends 'layout.html' %}

{% block body %}
  <h1>Create Group</h1>
  {% from "includes/_formhelpers.html" import render_field %}
  <form method="POST" action="">
    <div class="form-group">
      {{render_field(form.group_title, class_="form-control")}}
    </div>
    <div class="form-group">
      {{render_field(form.person1, class_="form-control")}}
    </div>
    <div class="form-group">
      {{render_field(form.person2, class_="form-control")}}
    </div>
    <div class="form-group">
      {{render_field(form.person3, class_="form-control")}}
    </div>
    <div class="form-group">
      {{render_field(form.person4, class_="form-control")}}
    </div>
    <p><input type="submit" class="btn btn-primary" value="Create"></p>
  </form>
{% endblock %}
