<!doctype html>



<title> login Page </title>

<CENTER><h1>Project A</h1></CENTER>
<center><h2>Login </h2></center>
<form action="" method="POST">
		<div class="container">
			<p>Please Sign in</p>	
			<hr>

			<label for="username"><b> Username </b></label>
			<br>
			<input type="text" placeholder="John125" name="username" value="{{request.form.username}} " required>
			<br>
			<label for="password"><b>Password</b></label>
			<br>
			<input type="password" placeholder="Enter Password" name="password" value="{{request.form.password}}" required>
			<br>

		</div>

		<div class="submit">
			<input type="submit" value="Signup">
		</div>
</form>
